# loading provided datasets

In [82]:
import pandas as pd 
import os

In [83]:
path=r'F:\Github_dsc\HousePrice_MegaProject\1. data_gathering\3. merging data\cx_data'

In [84]:
print(os.listdir(path))
print(os.listdir(path)[0])
print(type(os.listdir(path)[0]))

['1. data_merger.ipynb', 'flats - flats.csv', 'independent-house - independent-house.csv', 'merged_data', 'other data']
1. data_merger.ipynb
<class 'str'>

In [85]:
datas=[]
for file in os.listdir(path):
    if file.endswith('.csv'):
        datas.append(pd.read_csv(os.path.join(path, file)))

# checking columns in both datasets

In [86]:
# flats
print(datas[0].columns.shape)
print(datas[0].columns)

(20,)
Index(['property_name', 'link', 'society', 'price', 'area', 'areaWithType',
       'bedRoom', 'bathroom', 'balcony', 'additionalRoom', 'address',
       'floorNum', 'facing', 'agePossession', 'nearbyLocations', 'description',
       'furnishDetails', 'features', 'rating', 'property_id'],
      dtype='object')

In [87]:
# houses
print(datas[1].columns.shape)
print(datas[1].columns)

(21,)
Index(['property_name', 'link', 'society', 'price', 'rate', 'area',
       'areaWithType', 'bedRoom', 'bathroom', 'balcony', 'additionalRoom',
       'address', 'noOfFloor', 'facing', 'agePossession', 'nearbyLocations',
       'description', 'furnishDetails', 'features', 'rating', 'property_id'],
      dtype='object')

In [88]:
# rate col is not there in flats.csv, otherwise all remaining cols are common in both.

In [89]:
datas[0]['price']

0           45 Lac
1           50 Lac
2           40 Lac
3       1.47 Crore
4           70 Lac
           ...
3023    1.05 Crore
3024     3.3 Crore
3025        95 Lac
3026     5.8 Crore
3027      11 Crore
Name: price, Length: 3028, dtype: object

In [90]:
datas[1]['price']

0       5.25 Crore
1        5.7 Crore
2        2.1 Crore
3          5 Crore
4          3 Crore
           ...
1090     3.6 Crore
1091           NaN
1092           NaN
1093           NaN
1094           NaN
Name: price, Length: 1095, dtype: object

In [91]:
datas[1]['rate']

0        ₹ 20,115/sq.ft.
1       ₹ 105,751/sq.ft.
2        ₹ 38,251/sq.ft.
3        ₹ 43,066/sq.ft.
4        ₹ 53,763/sq.ft.
              ...
1090     ₹ 14,815/sq.ft.
1091     ₹ 13,992/sq.ft.
1092     ₹ 23,457/sq.ft.
1093     ₹ 31,008/sq.ft.
1094     ₹ 13,034/sq.ft.
Name: rate, Length: 1095, dtype: object

In [92]:
datas[0]['rate']=None

# adding one extra col `property_type` to both datasets for concatination purpose

In [93]:
datas[0]['property_type']='flat'
datas[1]['property_type']='house'

In [94]:
datas[0]['property_type'].sample(3)

1643    flat
807     flat
569     flat
Name: property_type, dtype: object

In [95]:
datas[1]['property_type'].sample(3)

666    house
645    house
430    house
Name: property_type, dtype: object

In [96]:
for i in datas:
    print(i.shape)

(3028, 22)
(1095, 22)

In [97]:
house_data = pd.concat([datas[0],datas[1]], axis=0, ignore_index=True)
house_data

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,property_type,noOfFloor
0,2 BHK Flat in Krishna Colony,https://www.99acres.com/2-bhk-bedroom-apartmen...,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,...,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746,None,flat,NaN
1,2 BHK Flat in Ashok Vihar,https://www.99acres.com/2-bhk-bedroom-apartmen...,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,...,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564,None,flat,NaN
2,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,...,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120,None,flat,NaN
3,2 BHK Flat in Sector 61 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,...,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,S68849476,None,flat,NaN
4,2 BHK Flat in Sector 92 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,...,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793,None,flat,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4118,3 Bedroom House for sale in Bissar,https://www.99acres.com/3-bhk-bedroom-independ...,Silverglades Tarudhan Valley Golf Resort,3.6 Crore,(226 sq.m.) Plot Area,Plot area 270(225.75 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,"Pooja Room,Study Room,Servant Room,Others",...,5 to 10 Year Old,NaN,This 3 bhk house for sale in bissar is an idea...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Centrally Air Conditioned', 'Water purifier'...",NaN,W70221444,"₹ 14,815/sq.ft.",house,2 Floors
4119,3 Bedroom House for sale in Bissar,https://www.99acres.com/3-bhk-bedroom-independ...,Silverglades Tarudhan Valley Golf Resort,NaN,(226 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"₹ 13,992/sq.ft.",house,NaN
4120,8 Bedroom House for sale in DLF Phase 2,https://www.99acres.com/8-bhk-bedroom-independ...,NaN,NaN,(376 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"₹ 23,457/sq.ft.",house,NaN
4121,8 Bedroom House for sale in C Block Sushant Lo...,https://www.99acres.com/8-bhk-bedroom-independ...,NaN,NaN,(180 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"₹ 31,008/sq.ft.",house,NaN
4122,2 Bedroom House for sale in Sector 92 Gurgaon,https://www.99acres.com/2-bhk-bedroom-independ...,Signature Global City 92,NaN,(89 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"₹ 13,034/sq.ft.",house,NaN

In [98]:
house_data.to_csv(path+'\merged_data\merged_data.csv')