In [13]:
from dotenv import load_dotenv
load_dotenv()
import os

root_dir = os.environ['PROJECT_ROOT']
print(root_dir)

F:\Github_dsc\HousePrice_MegaProject

In [16]:
print(root_dir+'/1. data_gathering\data')

F:\Github_dsc\HousePrice_MegaProject/1. data_gathering\data

In [30]:
import pandas as pd 
merged_df = pd.DataFrame()

folder_path=os.path.join(root_dir, '1. data_gathering\data')
all_files = os.listdir(folder_path)
csv_files = [file for file in all_files if file.endswith('.csv')]

dfs = [pd.read_csv(os.path.join(folder_path, file)) for file in csv_files]
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.shape

(150, 25)

In [31]:
merged_df.sample(5)

,Unnamed: 0,society_name,property_title,property_rent,types_of_rooms_available,furnishing_details_lst,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,...,Posted_By_and_On,Flooring,Floor_Number,Power_Backup,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating
135,10,Apollo DB City,3 BHK Flat for rent,"₹35,200 /month",NaN,NaN,3 Bedrooms,2 Bathrooms,2 Balconies,1982.0,...,"Dealer on May 08, 2024",Marble,5th of 13 Floors,Partial,5 to 10 Year Old,1 Months,Yes,Charges not included,Centrally Air Conditioned\r\nWater purifier\r\...,4.1
131,6,Premier Towers,3 BHK Flat for rent,"₹40,500 /month",NaN,NaN,3 Bedrooms,3 Bathrooms,1 Balcony,NaN,...,"Dealer on May 08, 2024",Marble,6th of 12 Floors,Full,1 to 5 Year Old,1 Months,Yes,Charges included,Security / Fire Alarm\r\nFeng Shui / Vaastu Co...,4.0
54,4,Signature Heights,2 BHK Flat for rent,"₹18,000 /month",NaN,NaN,2 Bedrooms,2 Bathrooms,1 Balcony,NaN,...,"Owner on Jul 01, 2024",Ceramic,9th of 10 Floors,Partial,Under Construction,1 Months,Yes,Charges included,NaN,4.0
50,0,Jiyo Samarth Park,3 Bedroom House for rent,"₹18,000 /month",NaN,NaN,3 Bedrooms,4 Bathrooms,1 Balcony,NaN,...,"Owner on Jul 01, 2024",NaN,NaN,NaN,5 to 10 Year Old,0 Months,NaN,Charges not included,Feng Shui / Vaastu Compliant\r\nPrivate Garden...,4.1
15,15,Premier Towers,2 BHK Flat for rent,"₹25,000 /month",NaN,NaN,2 Bedrooms,2 Bathrooms,2 Balconies,1000.0,...,"Dealer on Jul 02, 2024",Vitrified,2nd of 6 Floors,NaN,5 to 10 Year Old,1 Months,Yes,Charges not included,Security / Fire Alarm\r\nFeng Shui / Vaastu Co...,4.0

In [34]:
merged_df.to_csv(os.path.join(root_dir, '1. data_gathering\data\mergeddata.csv'))