In [1]:
from dotenv import load_dotenv
load_dotenv()
import os

root_dir = os.environ['PROJECT_ROOT']
print(root_dir)

F:\Github_dsc\HousePrice_MegaProject

In [2]:
print(root_dir+'/1. data_gathering\data')

F:\Github_dsc\HousePrice_MegaProject/1. data_gathering\data

In [3]:
import pandas as pd 
merged_df = pd.DataFrame()

folder_path=os.path.join(root_dir, '1. data_gathering\data')
all_files = os.listdir(folder_path)
csv_files = [file for file in all_files if file.endswith('.csv')]

dfs = [pd.read_csv(os.path.join(folder_path, file)) for file in csv_files]
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.shape

(7, 25)

In [6]:
merged_df.shape

(7, 25)

In [4]:
merged_df.sample(5)

,Unnamed: 0,society_name,property_title,property_rent,types_of_rooms_available,furnishing_details_lst,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,...,Posted_By_and_On,Flooring,Floor_Number,Power_Backup,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating
5,2,Mirchandani Shalimar Palms,2 BHK Flat for rent,"₹20,000 /month",NaN,NaN,2 Bedrooms,2 Bathrooms,2 Balconies,NaN,...,"Dealer on Jun 05, 2024",Vitrified,6th of 7 Floors,Partial,5 to 10 Year Old,1 Months,Yes,Charges included,Feng Shui / Vaastu Compliant\nIntercom Facilit...,4.0
2,2,"Jawahar Tekri, Indore",3 BHK Independent Builder Floor for rent,"₹20,000 /month",NaN,NaN,3 Bedrooms,3 Bathrooms,1 Balcony,1000.0,...,"Owner on Jun 01, 2024",NaN,3rd of 4 Floors,NaN,5 to 10 Year Old,0 Months,NaN,Charges included,NaN,NaN
3,0,Highway Newwyork City,1 BHK Flat for rent,"₹6,000 /month",NaN,NaN,1 Bedroom,2 Bathrooms,1 Balcony,NaN,...,"Dealer on Jun 06, 2024",Vitrified,1st of 6 Floors,Partial,5 to 10 Year Old,1 Months,Yes,Charges not included,Security / Fire Alarm\nFeng Shui / Vaastu Comp...,3.4
4,1,Amrit Palace,3 Bedroom House for rent,"₹26,000 /month",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,"Scheme No 74C, Indore",3 Bedroom House for rent,"₹30,000 /month",NaN,NaN,3 Bedrooms,3 Bathrooms,2 Balconies,NaN,...,"Dealer on Jun 19, 2024",NaN,NaN,NaN,1 to 5 Year Old,0 Months,NaN,Charges not included,NaN,NaN

In [5]:
merged_df.to_csv(os.path.join(root_dir, '1. data_gathering\data\mergeddata.csv'))