In [1]:
import pandas as pd

data = pd.read_csv(r'..\3. eda_n_feature engineering\5.1 FEed furnishDetails col.csv')
data.head(3)

,property_name,sector,society,price_in_crores,price_per_sqft,bedRoom,bathroom,balcony,address,floorNum,...,noOfFloor,SuperBuiltupArea_sqft,BuiltupArea_sqft,CarpetArea_sqft,servantRoom,studyRoom,poojaRoom,storeRoom,otherAdditionalRoom,luxury_class
0,2 BHK Flat in Sector 70 Gurgaon,sector 70,shree vardhman victoria,1.10,8461.0,2.0,2.0,2,"Sector 70 Gurgaon, Gurgaon, Haryana",8.0,...,1.0,NaN,NaN,1299.957411,False,False,False,False,False,0
1,3 Bedroom House for sale in Sector 40 Gurgaon,sector 40,NaN,2.15,23889.0,3.0,3.0,3,"Sector 40 Gurgaon, Gurgaon, Haryana",0.0,...,3.0,NaN,900.0,NaN,False,True,True,True,False,0
2,5 Bedroom House for sale in Palam Vihar,palam vihar,ansals palam vihar,9.00,19231.0,5.0,5.0,2,"J-Block, Palam Vihar, Gurgaon, Haryana",0.0,...,2.0,NaN,4680.0,NaN,True,True,True,True,False,1