In [2]:
import pandas as pd

pd.set_option('display.max_colwidth', 50)
pd.set_option('display.max_columns', 100)
data = pd.read_csv(r'..\3. eda_n_feature engineering\3.1 FEed additionalRoom col.csv')
data.head(3)

,property_name,sector,society,price_in_crores,price_per_sqft,bedRoom,bathroom,balcony,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_type,noOfFloor,SuperBuiltupArea_sqft,BuiltupArea_sqft,CarpetArea_sqft,servantRoom,studyRoom,poojaRoom,storeRoom,otherAdditionalRoom
0,2 BHK Flat in Sector 70 Gurgaon,sector 70,shree vardhman victoria,1.10,8461.0,2.0,2.0,2,"Sector 70 Gurgaon, Gurgaon, Haryana",8.0,north-east,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...",Square yards rera reg.\r\nHrera 660/2017/307\r...,"['3 Wardrobe', '1 Modular Kitchen', '1 Chimney...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of...",flat,1.0,NaN,NaN,1299.957411,False,False,False,False,False
1,3 Bedroom House for sale in Sector 40 Gurgaon,sector 40,NaN,2.15,23889.0,3.0,3.0,3,"Sector 40 Gurgaon, Gurgaon, Haryana",0.0,NaN,5 to 10 year old,"['Huda city centre metro station', 'Axis bank ...",Its just behind ryan international school and ...,"['4 Wardrobe', '5 Fan', '4 Geyser', '2 Light',...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5...",house,3.0,NaN,900.0,NaN,False,True,True,True,False
2,5 Bedroom House for sale in Palam Vihar,palam vihar,ansals palam vihar,9.00,19231.0,5.0,5.0,2,"J-Block, Palam Vihar, Gurgaon, Haryana",0.0,north,10+ year old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",North facing plot aviable on sale in palam vih...,"['1 Water Purifier', '4 Fan', '1 Fridge', '1 E...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety4 out of 5', ...",house,2.0,NaN,4680.0,NaN,True,True,True,True,False

In [3]:
data['agePossession']

0        1 to 5 Year Old
1       5 to 10 year old
2           10+ year old
3        1 to 5 Year Old
4               Jun 2027
              ...
3969     0 to 1 year old
3970        10+ Year Old
3971             By 2024
3972            Dec 2024
3973        10+ Year Old
Name: agePossession, Length: 3974, dtype: object

In [7]:
data['agePossession'] = data['agePossession'].str.lower().str.strip()
data['agePossession']

0        1 to 5 year old
1       5 to 10 year old
2           10+ year old
3        1 to 5 year old
4               jun 2027
              ...
3969     0 to 1 year old
3970        10+ year old
3971             by 2024
3972            dec 2024
3973        10+ year old
Name: agePossession, Length: 3974, dtype: object

In [14]:
data['agePossession'].value_counts(dropna=False)

agePossession
1 to 5 year old       1707
5 to 10 year old       616
0 to 1 year old        553
undefined              358
10+ year old           356
under construction      92
within 6 months         70
within 3 months         26
dec 2023                22
by 2023                 19
by 2024                 17
dec 2024                16
mar 2024                14
jan 2024                 8
oct 2024                 8
jun 2024                 7
aug 2023                 7
dec 2025                 7
aug 2024                 5
nov 2023                 5
by 2025                  4
jan 2025                 4
sep 2023                 4
jul 2024                 4
oct 2023                 4
feb 2024                 3
may 2024                 3
nov 2024                 3
sep 2025                 2
aug 2025                 2
apr 2026                 2
oct 2025                 2
dec 2026                 2
jan 2026                 2
jul 2027                 2
mar 2025                 2
by 2027                  2
jun 2027                 2
jul 2025                 2
jan 2027                 1
sep 2027                 1
jul 2026                 1
mar 2026                 1
apr 2024                 1
jun 2025                 1
aug 2026                 1
nov 2025                 1
jan 2028                 1
NaN                      1
Name: count, dtype: int64

In [15]:
data['agePossession'].isna().sum()

1

In [ ]:
# undefined
# Under Construction
# Within 6 months
# Within 3 months
# 0 to 1 Year Old
# 1 to 5 Year Old
# 5 to 10 Year Old
# 10+ year old

# else all will fall under:
#     under construction

In [16]:
def clean_agePossesion_col(row):
    if ('under construction' in row)  or ('within' in row):
        return 'Under Construction'
    if '0 to 1 year old' in row:
        return 'Brand New'
    if '1 to 5 year old' in row:
        return 'Very Recent Construction'
    if '5 to 10 year old' in row:
        return 'Recent Construction'
    if '10+ year old' in row:
        return 'Old Construction'
    if 'undefined' in row:
        return 'Unknown Age'
    else:
        return 'Under Construction'

In [17]:
data['agePossession'] = data['agePossession'].astype(str).apply(clean_agePossesion_col)
data['agePossession']

0       Very Recent Construction
1            Recent Construction
2               Old Construction
3       Very Recent Construction
4             Under Construction
                  ...
3969                   Brand New
3970            Old Construction
3971          Under Construction
3972          Under Construction
3973            Old Construction
Name: agePossession, Length: 3974, dtype: object

In [ ]:
data.to_csv(r'..\3. eda_n_feature engineering\4.1 FEed agePossesion col.csv', index=False)