In [35]:
import pandas as pd 

data = pd.read_csv(r'F:\Github_dsc\HousePrice_MegaProject\2. data_cleaning\0. data\cleaned_level1.csv')
data.sample(3)

,Unnamed: 0,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,...,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,rate,property_type,noOfFloor
3094,3094,8 Bedroom House for sale in Uppals Southend,https://www.99acres.com/8-bhk-bedroom-independ...,NaN,NaN,(268 sq.m.) Plot Area,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"₹ 15,625/sq.ft.",house,NaN
1404,1404,3 BHK Flat in Sector 109 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,SBTL Caladium,1.2 Crore,"₹ 6,382/sq.ft.",Super Built up area 1880(174.66 sq.m.),3.0,2.0,2 Balconies,...,South,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Chirag Hospital...","Situated in sector 109 gurgaon, sbtl caladium ...","['7 Fan', '1 Exhaust Fan', '1 Geyser', '7 Ligh...","['Water purifier', 'Security / Fire Alarm', 'P...","['Environment5 out of 5', 'Lifestyle4 out of 5...",NaN,flat,NaN
1396,1396,3 BHK Flat in Sector 70 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Shree Vardhman Victoria3.8 ★,1.62 Crore,"₹ 8,307/sq.ft.",Super Built up area 1950(181.16 sq.m.)Carpet a...,3.0,5.0,3 Balconies,...,North,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...",This 3 bhk flat is located in shree vardhman v...,NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Green Area5 out of 5', 'Construction5 out of...",NaN,flat,NaN

In [36]:
data.drop(columns='Unnamed: 0', inplace=True)

In [37]:
data.sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,rate,property_type,noOfFloor
3670,1 Bedroom House for sale in Sector 81 Gurgaon,https://www.99acres.com/1-bhk-bedroom-independ...,NaN,89 Lac,(102 sq.m.) Built-up Area,Built Up area: 1095 (101.73 sq.m.),1.0,1.0,No Balcony,NaN,...,NaN,undefined,"['Orris Community Center', 'Petrol Pump', 'HP ...","Property for sale in sector 81, gurgaon. This ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4.5 out of 5', 'Lifestyle4 out of...","₹ 8,127/sq.ft.",house,1 Floors
1258,2 BHK Flat in Sector 85 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,SS The Leaf3.8 ★,1.06 Crore,"₹ 6,343/sq.ft.",Super Built up area 1671(155.24 sq.m.),2.0,2.0,2 Balconies,NaN,...,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Luxury property with all basic amenities in it...,[],"['Security / Fire Alarm', 'Intercom Facility',...","['Green Area4.5 out of 5', 'Construction4.5 ou...",NaN,flat,NaN
2770,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,MVN Athens3.7 ★,25 Lac,"₹ 5,189/sq.ft.",Carpet area: 481.73 (44.75 sq.m.),2.0,2.0,1 Balcony,Pooja Room,...,North,1 to 5 Year Old,"['SBI ATM', 'Axis bank ATM', 'UCO bank ATM', '...","1 or 2bhk with all aminities,parking,play ground",NaN,"['Security / Fire Alarm', 'Intercom Facility',...","['Management5 out of 5', 'Green Area4 out of 5...",NaN,flat,NaN

# lets check `society` col

In [38]:
data['society']

0                         maa bhagwati residency
1                                   Apna Enclave
2                         Tulsiani Easy in Homes
3                            Smart World Orchard
4                               Parkwood Westend
                          ...
4118    Silverglades Tarudhan Valley Golf Resort
4119    Silverglades Tarudhan Valley Golf Resort
4120                                         NaN
4121                                         NaN
4122                    Signature Global City 92
Name: society, Length: 4123, dtype: object

In [39]:
data['society'].value_counts(dropna=False)

society
NaN                                          625
SS The Leaf3.8 ★                              73
Tulip Violet4.3 ★                             40
Shapoorji Pallonji Joyville Gurugram4.0 ★     39
Signature Global Park4.0 ★                    37
                                            ...
Huda Housing Board Society                     1
Aipl Peaceful Homes                            1
DLF Icon                                       1
Dlf 76                                         1
Raisina Residency3.7 ★                         1
Name: count, Length: 771, dtype: int64

In [40]:
data['society'] = data['society'].str.strip().str.lower()

In [41]:
data['society'].value_counts(dropna=False)

society
NaN                                          625
ss the leaf3.8 ★                              73
tulip violet4.3 ★                             40
shapoorji pallonji joyville gurugram4.0 ★     39
signature global park4.0 ★                    37
                                            ...
huda housing board society                     1
aipl peaceful homes                            1
dlf icon                                       1
dlf 76                                         1
empire estate                                  1
Name: count, Length: 762, dtype: int64

# got confused, so let's try balcony col first

In [42]:
data['balcony']

0         1 Balcony
1         1 Balcony
2       3 Balconies
3       2 Balconies
4       3 Balconies
           ...
4118    2 Balconies
4119            NaN
4120            NaN
4121            NaN
4122            NaN
Name: balcony, Length: 4123, dtype: object

In [43]:
data['balcony'].value_counts(dropna=False)

balcony
3+ Balconies    1237
3 Balconies     1140
2 Balconies      975
1 Balcony        426
No Balcony       217
NaN              127
balcony            1
Name: count, dtype: int64

In [44]:
data['balcony'] = data['balcony'].str.strip().str.lower().str.split(' ').str[0]

In [49]:
data['balcony'].value_counts(dropna=False)

balcony
3+         1237
3          1140
2           975
1           426
0           217
            127
balcony       1
Name: count, dtype: int64

In [48]:
data['balcony'].replace('no', 0, inplace=True)

In [47]:
data['balcony'].fillna('', inplace=True)