In [1]:
import pandas as pd

In [3]:
data = pd.read_csv(r'F:\Github_dsc\HousePrice_MegaProject\2. data_cleaning\data\house_merged_data.csv')
data.sample(3)

,Unnamed: 0,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,...,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,noOfFloor
2464,2464,2 BHK Flat in Sector 107 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,M3M Woodshire4.0 ★,80 Lac,"₹ 5,856/sq.ft.",Super Built up area 1366(126.91 sq.m.),2 Bedrooms,2 Bathrooms,3+ Balconies,...,NaN,0 to 1 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",M3m woodshire is one of the most popular desti...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction5 out ...",M62958574,NaN,NaN
989,989,2 BHK Flat in Sector 85 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,SS The Leaf3.8 ★,1.15 Crore,"₹ 11,966/sq.ft.",Super Built up area 1741(161.74 sq.m.)Built Up...,2 Bedrooms,2 Bathrooms,3 Balconies,...,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...","Ss the leaf in sector 85, gurgaon is a ready-T...","['3 Fan', '1 Exhaust Fan', '5 Light', '4 AC', ...","['Power Back-up', 'Intercom Facility', 'Lift(s...","['Green Area4.5 out of 5', 'Construction4.5 ou...",S69748048,NaN,NaN
1024,1024,4 BHK Flat in Sector 72 Gurgaon,https://www.99acres.com/4-bhk-bedroom-apartmen...,Tata Primanti4.1 ★,5 Crore,"₹ 11,363/sq.ft.",Super Built up area 4400(408.77 sq.m.)Built Up...,4 Bedrooms,4 Bathrooms,3+ Balconies,...,North-East,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'Omaxe City Cen...",This beautiful 4 bhk flat in sector 72 gurgaon...,"['4 Wardrobe', '1 Water Purifier', '12 Fan', '...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction4 out of...",V69925314,NaN,NaN