In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r'F:\Github_dsc\HousePrice_MegaProject\2. data_cleaning\data\house_merged_data.csv')
print(data.shape)
data.sample(3)

(4123, 23)

,Unnamed: 0,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,...,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,noOfFloor
597,597,4 BHK Flat in Sector 90 Gurgaon,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF New Town Heights 13.9 ★,1.42 Crore,"₹ 4,864/sq.ft.",Super Built up area 2364(219.62 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,...,East,5 to 10 Year Old,"['Manish Gallexie 91', 'NH-8 IMT Manesar', 'RH...",This beautiful 4 bhk apartment/flat in sector-...,NaN,"['Lift(s)', 'Swimming Pool', 'Park', 'Shopping...","['Green Area5 out of 5', 'Construction4 out of...",O64172318,NaN,NaN
2020,2020,1 BHK Flat in Sector 95 Gurgaon,https://www.99acres.com/1-bhk-bedroom-apartmen...,Ramsons Kshitij3.7 ★,19 Lac,₹ 591/sq.ft.,Carpet area: 3212 (298.4 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,...,East,1 to 5 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","It's a 1 bhk furnished flat top floor, serene ...","['1 Wardrobe', '1 Fan', '1 Fridge', '1 Sofa', ...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of...",T70043008,NaN,NaN
227,227,3 BHK Flat in Sector 71 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,CHD Avenue 713.6 ★,1.1 Crore,"₹ 6,790/sq.ft.",Super Built up area 1620(150.5 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,...,NaN,1 to 5 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...","A Well Maintained 3bhk , Semifurnished With Tw...",[],"['Intercom Facility', 'Lift(s)', 'Feng Shui / ...","['Green Area5 out of 5', 'Amenities4 out of 5'...",L44903927,NaN,NaN

dropping `Unnamed: 0` col

In [6]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
data.sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,noOfFloor
1061,4 BHK Flat in Sector 85 Gurgaon,https://www.99acres.com/4-bhk-bedroom-apartmen...,SS The Leaf3.8 ★,2.3 Crore,"₹ 8,179/sq.ft.",Super Built up area 2812(261.24 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,...,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Located in the popular residential address of ...,"['4 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction4.5 ou...",V69804904,NaN,NaN
990,3 BHK Flat in Sector 79 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Mapsko Mount Ville4.1 ★,1.2 Crore,"₹ 13,837/sq.ft.",Super Built up area 1510(140.28 sq.m.)Carpet a...,3 Bedrooms,3 Bathrooms,3 Balconies,"Pooja Room,Study Room",...,North,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Mapsko mountville is an artistic representatio...,"['6 Wardrobe', '1 Stove', '4 AC', '1 Modular K...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of...",U69665010,NaN,NaN
3505,2 Bedroom House for sale in Sohna,https://www.99acres.com/2-bhk-bedroom-independ...,NaN,1.5 Crore,(98 sq.m.) Plot Area,Plot area 117(97.83 sq.m.),2 Bedrooms,3 Bathrooms,2 Balconies,"Pooja Room,Study Room",...,North,0 to 1 Year Old,NaN,Looking to buy an independent house in gurgaon...,"['6 Fan', '3 Geyser', '40 Light', '3 AC', '1 C...","['Private Garden / Terrace', 'High Ceiling Hei...","['Environment4 out of 5', 'Lifestyle4 out of 5...",F68481776,"₹ 14,245/sq.ft.",1 Floors

In [9]:
data['property_name'].value_counts()

property_name
2 BHK Flat in Sohna                           126
3 BHK Flat in Sector 102 Gurgaon               76
3 BHK Flat in Sector 65 Gurgaon                57
3 BHK Flat in Sector 92 Gurgaon                53
3 BHK Flat in Sector 69 Gurgaon                51
                                             ...
10 Bedroom House for sale in Ravi Nagar         1
6 Bedroom House for sale in Farukhnagar         1
9 Bedroom House for sale in Sheetla Colony      1
3 BHK Flat in Civil Lines                       1
8 Bedroom House for sale in DLF Phase 2         1
Name: count, Length: 985, dtype: int64

In [25]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

OptionError: No such keys(s): 'display.height'

In [24]:
data['property_name'].str.lower().str.strip()

0                            2 bhk flat in krishna colony
1                               2 bhk flat in ashok vihar
2                                     2 bhk flat in sohna
3                         2 bhk flat in sector 61 gurgaon
4                         2 bhk flat in sector 92 gurgaon
                              ...
4118                   3 bedroom house for sale in bissar
4119                   3 bedroom house for sale in bissar
4120              8 bedroom house for sale in dlf phase 2
4121    8 bedroom house for sale in c block sushant lo...
4122        2 bedroom house for sale in sector 92 gurgaon
Name: property_name, Length: 4123, dtype: object